
@model Survey

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Survey</title>
</head>
<body style="margin: auto">
    <div class="col-8" >
    <form action="/surveyresults" method="POST">
        <label for="name">Name:</label>
        <input type="text"name="name">
        <br>
        <select name="location" >
            @foreach(var local in ViewBag.locations)
            {
                <option value="@local">@local</option>
            }

        </select>
        <br>
        <select name="language" >
            @foreach(var lang in ViewBag.language)
            {
                <option value="@lang">@lang</option>
            }

        </select>
        <br>
    
        <p>Comments (Optional): <input name="comment" type="text"></p>

        <button class= "btn btn-success" type="submit">Submit</button>
    </form>
    </div>
</body>
</html>
