
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register and Login</title>
</head>
<body>
        <div class="container"></div>
        <h1 class="text-center">Welcome</h1>
        <br>
        <div class="row mt-5">
            <div class="col">
            <partial name="Register"></partial>
            </div>
            <div class="col">
            <partial name="Login"></partial>
            </div>
        </div>
</body>
</html>