<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/style.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <div class ="container">
            <a href="http://localhost:5000/">Home</a>
            <a href="projects">Projects</a>
            <a href="contact">Contact</a>

            <h1>About me</h1>
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQGUXsO_UALjUQ/profile-displayphoto-shrink_400_400/0?e=1596672000&v=beta& t=5M3xE-1Ikk4i17qS0c2diXSkwdEc6A-ldF48r67StR0" alt="Paul Kramer">
            <p>Paul Kramer</p>
            <p>I like stuff</p>

            <p>My name is Paul Kramer and I’m a dedicated, winning professional coach with deep experience and outstanding skills in identifying annurturing talented athletes, providing theoretical and practical sports instruction, and helping athletes to maintain their general healtand fitness levels. I am able to accurately assess athletes’ performance, analyze their opponents’ weaknesses, and develop appropriattraining activities. In addition, I  have a history of helping athletes develop new skills and prepare mentally for competitions.  Whilothers take pride in meeting all standards setbefore them, my passion is for delivering service that goes beyond organizationaexpectations, creating a win-win scenario for everyone involved!</p>
        </div>

    </body>
</html>