<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/style.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <div class ="container">
            <a href="http://localhost:5000/">Home</a>
            <a href="projects">Projects</a>
            <a href="contact">Contact</a>

            <h1>Projects</h1>
            <img src="https://blogs-images.forbes.com/olliebarder/files/2017/10/goku_ultra_instinct.jpg" alt="Goku">
            <p>Dragonball Project</p>
            <p>Ultra instict</p>
            <h1>Wow</h1>
            <img src="https://static-cdn.jtvnw.net/ttv-boxart/World%20of%20Warcraft.jpg" alt="Wow">
            <p>world of warcraft api project</p>
            <p>I'm a tank</p>
            <h1>About me</h1>
            <img src="https://vignette.wikia.nocookie.net/starcraft/images/b/b2/SCV_WoL_Game2.jpg/revision/latest?cb=20170323104643" alt="SCV">
            <p>Future RTS</p>
            <p>I will make the next Starcraft</p>
        </div>
    </body>
</html>